svg {
        border: 1px solid black;
        width: 860px;
        height: 450px;
    }

#israel {
    width: 860px;
    height: 450px;
}

#philippines {
    width: 860px;
    height: 400px;
}

#india {
    width: 860px;
    height: 400px;
}

#usa {
    width: 1130px;
    height: 520px;
}